/* ------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* ------------ */
body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fce5fc;
}

/* ------------ */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ------------ */
h1 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 24px;
}

/* ------------ */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  margin-bottom: 30px;
}

.form input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid white;
}

.form-submit {
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
  padding: 0 16px;
}

.form-submit:hover {
  background-color: #e7C6FF;
}
.form-submit:focus {
  box-shadow: 0 0 0 1px rgb(153, 153, 153);
}

/* ------------ */
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card-item {
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: #e7C6FF;
  border-radius: 5px;
  text-align: left;
}

.card-name {
  margin-bottom: 10px;
  font-size: 18px;
}

.card-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
}

.card-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.card-type,
.card-participants {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

/* ------------ */
.tag-error {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: red;
}

/* ------------ */
.is-element-hidden {
  display: none;
}

/* ------------ */
@media (max-width: 620px) {
  .container {
    padding: 30px 20px;
  }
  .form {
    grid-template-columns: 1fr;
  }
}